body{
    background-color: #ededed;
}
.topbar {
    width: 1000px;
    height: 260px;
    background-image:url(new-header.jpg);
    background-size: cover;
    background-position:bottom center;
    background-repeat: no-repeat;
    background-color:#2d3130;
    top:0px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #ededed;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

  h1{
    margin-top:100px;
    margin-left:50px;
    margin-right:auto;
    font-family: 'Press Start 2P', cursive;
    font-size:20px;
  }
  h3{
    margin-left:auto;
    margin-right:auto;
  }

  .button {    
    
    border: none;
    color: #c0c0c0;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
a {text-decoration: none;}


  .button1 {
    margin-left:35%;
    margin-right:auto;
    background-color: #2d3130;
    color: #c0c0c0; 
    border: 2px solid #8b8b8b;
    border-top: 2px solid #2d3130;
    border-bottom: 2px solid #2d3130;
  }
  
  .button1:hover {
    background-color: #e17e66;
    color: white;
  }
  
  .button2 {
    background-color: #2d3130;
    color: #c0c0c0; 
    border-right: 2px solid #8b8b8b;
    border-top: 2px solid #2d3130;
    border-bottom: 2px solid #2d3130;
  }
  
  .button2:hover {
    background-color: #78c9a1;
    color: white;
  }
  .button3 {
    background-color: #2d3130;
    color: #c0c0c0; 
    border-right: 2px solid #8b8b8b;
    border-top: 2px solid #2d3130;
    border-bottom: 2px solid #2d3130;
  }
  
  .button3:hover {
    background-color: #75b1d6;
    color: white;
  }
  .sidebar {
    width:280px;
    left:calc(50% - 500px/2 - 245px);
    background-color:#2d3130;
    border:1px solid #2d3130;
    font-family: 'Rubik', sans-serif;
    color:#f0f0f0;
    position:absolute;
    margin-top:50px;
    border-radius:5px;
    padding:8px;
    text-align: left;
}

.contents{
    width:700px;
    left:calc(50% - 500px/2 + 145px);
    font-family: 'Roboto', sans-serif;
    background-color:#ededed;
    margin-top:20px;
    position:absolute;
    border-radius:5px;
    padding:8px;
    text-align: left;
}



.post1{
    width:570px;
    padding:10px;
    background-color: #ffffff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.post2{
    width:570px;
    padding:10px;
    background-color:#ffffff;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.dates{
    text-align: center;
    width:570px;
    padding-top:1px;
    padding-bottom:1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#2d3130;
    color:#f0f0f0;
    margin-top:20px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.header {
  background: #2d3130;
  color: #ededed;
  padding: 2px 5px;
  margin-left:auto;
  margin-right:auto;
  width: 991px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  z-index: 2;
}

.content {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  width: 100%;
  background-color:#d4d4d4;
  margin-left:0%;
  padding-left: 4%;
}

.sticky + .content {
  padding-top: 50px;
}